<div class="question-page__questions">
  <header>
    <h1>Expert Advice</h1>
    <h4>Get answers to difficult questions</h4>
  </header>

  <div class="question-page__questions--controls">
    <div class="question-page__questions--controls__search">
      <Input
        data-test-search-input
        @placeholder="Search"
        @class="form-control"
      />
    </div>
    <button
      type="button"
      class="btn btn-primary"
      {{on "click" this.askQuestion}}
    >
      ASK A QUESTION
    </button>
  </div>

  <table>
    <tr>
      <th>Views</th>
      <th>Questions</th>
    </tr>
    {{#each this.questions as |question|}}
      <tr>
        <td>
          {{#if question.views}}
            {{views-formatter question.views}}
          {{else}}
            0
          {{/if}}
        </td>
        <td class="title" {{on "click" (fn this.showQuestionDetails question)}}>
          {{question.title}}
          <ul>
            {{#each question.tags as |tag|}}
              <li>{{tag}}</li>
            {{/each}}
          </ul>
        </td>

        {{#if (eq this.session.user.email question.user.email)}}
          <td class="buttons">
            <button
              type="button"
              class="btn btn-warning"
              {{on "click" (fn this.updateQuestion question)}}
            >
              EDIT
            </button>
          </td>
          <td class="buttons">
            <button
              type="button"
              class="btn btn-danger"
              {{on "click" (fn this.removeQuestion question)}}
            >
              DELETE
            </button>
          </td>
        {{/if}}
      </tr>
    {{/each}}
  </table>

  <div class="question-page__pagination">
    <PaginationList @times={{this.meta.totalPages}} @pageNumber={{this.page}} as |index name|>
      {{#if (eq name "...")}}
        {{name}}
      {{else}}
        <LinkTo
          @route={{"index"}}
          @query={{hash page=index}}
          class="pagination__link"
        >
          {{#if (eq name "Previous")}}
            <span class="pagination__item item--prev"></span>
          {{else if (eq name "Next")}}
            <span class="pagination__item item--next"></span>
          {{else}}
            {{name}}
          {{/if}}
        </LinkTo>
      {{/if}}
    </PaginationList>
  </div>
</div>
